[submodule "tools/chisel"]
	path = tools/chisel
	url = https://github.com/jpillora/chisel.git
[submodule "tools/PEASS-ng"]
	path = tools/PEASS-ng
	url = https://github.com/carlospolop/PEASS-ng.git
[submodule "tools/2_win_tool/powershell/PrivescCheck"]
	path = tools/2_win_tool/powershell/PrivescCheck
	url = https://github.com/itm4n/PrivescCheck.git
